.card {
  background: rgb(255, 205, 238);
  padding: px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  background-color: rgb(214, 109, 255) ;
}

.modal-content {
  background-color: rgb(222, 187, 255);
}

.container > h1 {
     font-size: clamp(2rem, 8vw, 6rem); /* scales nicely on all screens */
  font-weight: bold;
  display: inline-block;
    background-image: linear-gradient(90deg in hsl longer hue, rgb(252, 99, 99), rgb(255, 99, 99));
    background-clip: text;
    color: transparent;
    width: fit-content;
    margin: auto;
    filter: drop-shadow(5px 5px 10px black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
     margin-top: 100px;
}

body {
    background-color: honeydew;
    margin: 0;
    background-image: url("https://img.freepik.com/free-vector/abstract-seamless-geometric-shape-lines-pattern-design-background_84443-23990.jpg?semt=ais_incoming&w=740&q=80");
}

.def {
  background-color: aliceblue;
  padding: 10px 30px;
}

.modal-content {
  padding: 20px;


}

header.custom {
    background-image: linear-gradient(45deg, rgb(221, 41, 41), rgb(243, 50, 218));
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

